#!/usr/bin/env bash

# Clean scrollback and print both prompt lines
alias clear="printf '\\e[2J\\e[3J\\e[H'"

# Why not?
alias :q='exit'

# Typos
alias docekr='docker'
alias brwe='brew'

# Packing
alias tgz='tar -zcvf'
# Unpacking
alias tuz='tar -xvf'

# Let the games begin
alias k9='kill -9'
alias sk9='sudo k9'
alias ka9='killall -9'
alias ska9='sudo ka9'

# Just the weather
alias meteo='curl -4 wttr.in/Lisbon'

# Sometimes I forget
alias where="which"

alias hosts='sudo $EDITOR /etc/hosts'

# File size
alias fs='stat -f "%z bytes"'

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias h="cd ~" # `cd` is probably faster to type though
alias p="cd -"

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias dv="cd ~/dev"
alias g="git"

# Prefer GNU binaries to Macintosh binaries
export COREUTILS_BASE_PATH="/usr/local/opt/coreutils"
alias base64='$COREUTILS_BASE_PATH/bin/gbase64'
alias basename='$COREUTILS_BASE_PATH/bin/gbasename'
alias cat='$COREUTILS_BASE_PATH/bin/gcat'
alias chcon='$COREUTILS_BASE_PATH/bin/gchcon'
alias chgrp='$COREUTILS_BASE_PATH/bin/gchgrp'
alias chmod='$COREUTILS_BASE_PATH/bin/gchmod'
alias chown='$COREUTILS_BASE_PATH/bin/gchown'
alias chroot='$COREUTILS_BASE_PATH/bin/gchroot'
alias cksum='$COREUTILS_BASE_PATH/bin/gcksum'
alias comm='$COREUTILS_BASE_PATH/bin/gcomm'
alias cp='$COREUTILS_BASE_PATH/bin/gcp'
alias csplit='$COREUTILS_BASE_PATH/bin/gcsplit'
alias cut='$COREUTILS_BASE_PATH/bin/gcut'
alias date='$COREUTILS_BASE_PATH/bin/gdate'
alias dd='$COREUTILS_BASE_PATH/bin/gdd'
alias df='$COREUTILS_BASE_PATH/bin/gdf'
alias dir='$COREUTILS_BASE_PATH/bin/gdir'
alias dircolors='$COREUTILS_BASE_PATH/bin/gdircolors'
alias dirname='$COREUTILS_BASE_PATH/bin/gdirname'
alias du='$COREUTILS_BASE_PATH/bin/gdu'
alias echo='$COREUTILS_BASE_PATH/bin/gecho'
alias env='$COREUTILS_BASE_PATH/bin/genv'
alias expand='$COREUTILS_BASE_PATH/bin/gexpand'
alias expr='$COREUTILS_BASE_PATH/bin/gexpr'
alias factor='$COREUTILS_BASE_PATH/bin/gfactor'
alias false='$COREUTILS_BASE_PATH/bin/gfalse'
alias fmt='$COREUTILS_BASE_PATH/bin/gfmt'
alias fold='$COREUTILS_BASE_PATH/bin/gfold'
alias groups='$COREUTILS_BASE_PATH/bin/ggroups'
alias head='$COREUTILS_BASE_PATH/bin/ghead'
alias hostid='$COREUTILS_BASE_PATH/bin/ghostid'
alias id='$COREUTILS_BASE_PATH/bin/gid'
alias install='$COREUTILS_BASE_PATH/bin/ginstall'
alias join='$COREUTILS_BASE_PATH/bin/gjoin'
alias kill='$COREUTILS_BASE_PATH/bin/gkill'
alias link='$COREUTILS_BASE_PATH/bin/glink'
alias ln='$COREUTILS_BASE_PATH/bin/gln'
alias logname='$COREUTILS_BASE_PATH/bin/glogname'
# alias ls='$COREUTILS_BASE_PATH/bin/gls'
# Always use color output for `ls`
alias ls='$COREUTILS_BASE_PATH/bin/gls --color'
alias md5sum='$COREUTILS_BASE_PATH/bin/gmd5sum'
alias mkdir='$COREUTILS_BASE_PATH/bin/gmkdir'
alias mkfifo='$COREUTILS_BASE_PATH/bin/gmkfifo'
alias mknod='$COREUTILS_BASE_PATH/bin/gmknod'
alias mktemp='$COREUTILS_BASE_PATH/bin/gmktemp'
alias mv='$COREUTILS_BASE_PATH/bin/gmv'
alias nice='$COREUTILS_BASE_PATH/bin/gnice'
alias nl='$COREUTILS_BASE_PATH/bin/gnl'
alias nohup='$COREUTILS_BASE_PATH/bin/gnohup'
alias od='$COREUTILS_BASE_PATH/bin/god'
alias paste='$COREUTILS_BASE_PATH/bin/gpaste'
alias pathchk='$COREUTILS_BASE_PATH/bin/gpathchk'
alias pinky='$COREUTILS_BASE_PATH/bin/gpinky'
alias pr='$COREUTILS_BASE_PATH/bin/gpr'
alias printenv='$COREUTILS_BASE_PATH/bin/gprintenv'
# Breaks bash completion
# alias printf='$COREUTILS_BASE_PATH/bin/gprintf'
alias ptx='$COREUTILS_BASE_PATH/bin/gptx'
alias pwd='$COREUTILS_BASE_PATH/bin/gpwd'
alias readlink='$COREUTILS_BASE_PATH/bin/greadlink'
alias rm='$COREUTILS_BASE_PATH/bin/grm'
alias rmdir='$COREUTILS_BASE_PATH/bin/grmdir'
alias runcon='$COREUTILS_BASE_PATH/bin/gruncon'
alias seq='$COREUTILS_BASE_PATH/bin/gseq'
alias sha1sum='$COREUTILS_BASE_PATH/bin/gsha1sum'
alias sha224sum='$COREUTILS_BASE_PATH/bin/gsha224sum'
alias sha256sum='$COREUTILS_BASE_PATH/bin/gsha256sum'
alias sha384sum='$COREUTILS_BASE_PATH/bin/gsha384sum'
alias sha512sum='$COREUTILS_BASE_PATH/bin/gsha512sum'
alias shred='$COREUTILS_BASE_PATH/bin/gshred'
alias shuf='$COREUTILS_BASE_PATH/bin/gshuf'
alias sleep='$COREUTILS_BASE_PATH/bin/gsleep'
alias sort='$COREUTILS_BASE_PATH/bin/gsort'
alias split='$COREUTILS_BASE_PATH/bin/gsplit'
# Breaks homebrew update
# alias stat='$COREUTILS_BASE_PATH/bin/gstat'
alias stty='$COREUTILS_BASE_PATH/bin/gstty'
alias sum='$COREUTILS_BASE_PATH/bin/gsum'
alias sync='$COREUTILS_BASE_PATH/bin/gsync'
alias tac='$COREUTILS_BASE_PATH/bin/gtac'
alias tail='$COREUTILS_BASE_PATH/bin/gtail'
alias tee='$COREUTILS_BASE_PATH/bin/gtee'
# alias test='$COREUTILS_BASE_PATH/bin/gtest'
alias touch='$COREUTILS_BASE_PATH/bin/gtouch'
alias tr='$COREUTILS_BASE_PATH/bin/gtr'
alias true='$COREUTILS_BASE_PATH/bin/gtrue'
alias tsort='$COREUTILS_BASE_PATH/bin/gtsort'
alias tty='$COREUTILS_BASE_PATH/bin/gtty'
alias uname='$COREUTILS_BASE_PATH/bin/guname'
alias unexpand='$COREUTILS_BASE_PATH/bin/gunexpand'
alias uniq='$COREUTILS_BASE_PATH/bin/guniq'
alias unlink='$COREUTILS_BASE_PATH/bin/gunlink'
alias uptime='$COREUTILS_BASE_PATH/bin/guptime'
alias users='$COREUTILS_BASE_PATH/bin/gusers'
alias vdir='$COREUTILS_BASE_PATH/bin/gvdir'
alias wc='$COREUTILS_BASE_PATH/bin/gwc'
alias who='$COREUTILS_BASE_PATH/bin/gwho'
alias whoami='$COREUTILS_BASE_PATH/bin/gwhoami'
alias yes='$COREUTILS_BASE_PATH/bin/gyes'
# alias '['='$COREUTILS_BASE_PATH/bin/g['
# Use gnu-grep as grep and always color output
alias grep='/usr/local/opt/grep/bin/ggrep --color=auto'

# List all files colorized in long format
alias l="ls -lFisah"

alias lsorted='ls -lisaht'

# List all files colorized in long format, excluding . and ..
alias la="ls -lAF"

# List only directories
alias lsd="ls -lF | grep --color=never '^d'"

alias fgrep='grep -F'
alias egrep='grep -E'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Homebrew
alias brewu='brew update; brew upgrade; brew cleanup; brew doctor'

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# Google Chrome
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'

# IP addresses
# https://unix.stackexchange.com/a/81699/37512
alias ip='dig @resolver1.opendns.com myip.opendns.com +short'
alias ip4='dig @resolver1.opendns.com myip.opendns.com +short -4'
alias ip6='dig @resolver1.opendns.com myip.opendns.com +short -6'

alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# All the dig info
alias dig="dig +nocmd any +multiline +noall +answer"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Canonical hex dump; some systems have this symlinked
command -v hd >/dev/null || alias hd="hexdump -C"

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum >/dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum >/dev/null || alias sha1sum="shasum"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files, preserving hyperlinks
# Usage: `mergepdf input{1,2,3}.pdf`
alias mergepdf='gs -q -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -sOutputFile=_merged.pdf'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Airport CLI alias
alias airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
alias "GET"="lwp-request -m 'GET'"
alias "HEAD"="lwp-request -m 'HEAD'"
alias "POST"="lwp-request -m 'POST'"
alias "PUT"="lwp-request -m 'PUT'"
alias "DELETE"="lwp-request -m 'DELETE'"
alias "TRACE"="lwp-request -m 'TRACE'"
alias "OPTIONS"="lwp-request -m 'OPTIONS'"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper (Renderer)' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Lock the screen (when going AFK)
alias afk="osascript -e 'tell app \"System Events\" to key code 12 using {control down, command down}'"

# Reload the shell (i.e. invoke as a login shell)
alias reload='exec $SHELL -l'
