#!/usr/bin/env bash

# Clean scrollback and print both prompt lines
alias clear="printf '\\e[2J\\e[3J\\e[H'"

# Why not?
alias :q='exit'

# Typos
alias docekr='docker'
alias d=docker
alias k=kubectl
alias brwe='brew'

# Packing
alias tgz='tar -zcvf'
# Unpacking
alias tuz='tar -xvf'

# Let the games begin
alias k9='kill -9'
alias sk9='sudo k9'
alias ka9='killall -9'
alias ska9='sudo ka9'

# Just the weather
alias meteo='curl -4 wttr.in/Lisbon'

# Sometimes I forget
alias where="which"

alias hosts='sudo $EDITOR /etc/hosts'

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias h="cd ~" # `cd` is probably faster to type though
alias p="cd -"

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias dv="cd ~/dev"
alias g="git"

# List all files colorized in long format
alias l="ls -lFisah"

alias lsorted='ls -lisaht'

# List all files colorized in long format, excluding . and ..
alias la="ls -lAF"

# List only directories
alias lsd="ls -lF | grep --color=never '^d'"

alias fgrep='grep -F'
alias egrep='grep -E'

# Enable aliases to be sudo'ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# IP addresses
# https://unix.stackexchange.com/a/81699/37512
alias ip='dig @resolver1.opendns.com myip.opendns.com +short'
alias ip4='dig @resolver1.opendns.com myip.opendns.com +short -4'
alias ip6='dig @resolver1.opendns.com myip.opendns.com +short -6'

alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# All the dig info
alias dig="dig +nocmd any +multiline +noall +answer"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Canonical hex dump; some systems have this symlinked
command -v hd >/dev/null || alias hd="hexdump -C"

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum >/dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum >/dev/null || alias sha1sum="shasum"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen's ProTip™s
alias "GET"="lwp-request -m 'GET'"
alias "HEAD"="lwp-request -m 'HEAD'"
alias "POST"="lwp-request -m 'POST'"
alias "PUT"="lwp-request -m 'PUT'"
alias "DELETE"="lwp-request -m 'DELETE'"
alias "TRACE"="lwp-request -m 'TRACE'"
alias "OPTIONS"="lwp-request -m 'OPTIONS'"

# Reload the shell (i.e. invoke as a login shell)
alias reload='exec $SHELL -l'
